---
title: eleventy-plugin-prince-pdf example
layout: pdf-layout.njk
---

{% set sectionBeforeToc = collections.pdfContentInOrder[0] %}
{{sectionBeforeToc.templateContent|safe}}

<h2 class="contents">Contents</h2>
{% include 'partials/pdf/table-of-contents.njk' %}

{% set sectionsAfterToc = collections.pdfContentInOrder.slice(1) %}
{% for section in sectionsAfterToc %}
<h2 class="page-break-before" id="section-{{loop.index}}">{{section.data.title}}</h2>
{{section.templateContent|safe}}
{% endfor %}
